<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>PA1450</title>
  <meta name="description" content="PA1450"/>
</head>
<body>
  <h1>CovidCenter</h1>
  <h2>Total cases</h2>  

  <h2>Enter date you want to see below:</h2>
  <form action="{{ url_for('totalc') }}" method="post">
    
  <label for="choose-data1">Total cases</label><br>
  <input class="form-check-input" value="total" type="radio" id="total-data" name="choose-data">

  <label for="choose-data2">New Cases</label><br>
  <input class="form-check-input" value="new" type="radio" id="new-data" name="choose-data">

  <input type="text" id="date" name="date"><br>
  <input type="text" id="date2" name="date2"><br>
  <input type="submit"  value="submit" ><br>

  <label for="choose-data3">Sweden cases</label><br>
  <input class="form-check-input" value="sweden" type="radio" id="total-data" name="choose-data">

  </form>

</body>
</html>
