<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title>PA1450</title>
  <meta name="description" content="PA1450"/>
</head>
<body>
  <h1>CovidCenter</h1>
  <h2>Total cases</h2>  

  <h2>Enter date you want to see below:</h2>
  <form action="{{ url_for('totalc') }}" method="post">
  <label for="fname">First date: Example: "10-12-2020"</label><br>
    <input type="text" id="fname" name="date"><br>
    <input type="submit" value="submit" ><br>
  </form>

  <h2>New cases</h2>
  <h2>Enter date you want to see below:</h2>
  <form action="{{ url_for('newc') }}" method="post">

    <label for="fname">First date: Example: "10-12-2020"</label><br>
      <input type="text" id="fname" name="date1"><br>
      <input type="text" id="fname" name="date2"><br>
      <input type="submit" value="submit" ><br>
    </form>


</body>
</html>
